<body>
    <div class="container1">
        <h2>Assessment Details</h2>
        <form id="assessment-form" method="POST">
            <label for="name">Assessment Id:</label>
            <input type="text" id="Assessment_Id" name="Ass_Id" required>

            <div class="form-buttons">
                <button type="submit" id="startFaceVerification">Take Assessment</button>
                <button type="button" onclick="loadIndex()">Cancel</button>
            </div>
            <p>Once you are logged after successful face verfication, you cannot go back. If you exit or close the browser, you cannot retake the exam.</p>
        </form>
    </div>
    </div>
</body>
