<div class="container1">
    <h2>Create Assessment</h2>
    
    <form id="create-assessment-form">
        <label for="exam-title">Exam Title:</label>
        <input type="text" id="exam-title" required>

        <label for="exam-date">Date:</label>
        <input type="date" id="exam-date" required>

        <label for="exam-time">Time:</label>
        <input type="time" id="exam-time" required>

        <label for="time-limit">Time Limit (in minutes):</label>
        <input type="number" id="time-limit" required>

        <button type="submit" id="create-btn">Create</button>
        <button type="reset" onclick="removeId()">Clear Response</button>
        <button type="button" onclick="toDashboard()">Cancel</button>
    </form>


    <div id="assessment-id-container" style="display: none; margin-top: 20px;">
        <h3>Assessment Created Successfully!</h3>
        <p>Assessment ID: <span id="assessment-id"></span></p>
        <p>Expiry: <span id="expiry-date"></span></p>
    </div>
</div>
