<body>
    <div class="container1">
        <h2>Signup</h2>
        <form id="signup-form" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
    
            <div class="form-buttons">
                <button type="submit">Signup</button>
                <button type="button" onclick="loadIndex()">Cancel</button>
            </div>
        </form>
    </div>
    </div>
</body>
